section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2%;
}
.box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 158px;
  height: 100px;
  margin: var(--spacing-unit) 0 var(--spacing-unit-x4);
}
