@import './base.css';
@import './typography.css';
@import './global.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: var(--text-black);
  transition: 0.4s;
}
.margin-bottom-4 {
  margin-bottom: var(--spacing-unit-x4);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */

  /* storybook docs styles */
  div.sbdocs.sbdocs-content {
    max-width: 100%;
  }
  div.sbdocs.sbdocs-preview {
    max-width: 2200px;
  }
}
